.dashboard {
	align-items: start;
}

.dashboard .menu ul {
	border-right: 1px solid var(--light-borders);
}

.dashboard .menu ul li {
	list-style: none;
	padding: 20px 40px;
	margin: 0 20px;
	cursor: pointer;
	border-bottom: 1px solid var(--light-borders);
}

.dashboard .menu ul li.active {
	font-weight: 550;
}

.dashboard .menu ul li:last-child {
	border-bottom: 0;
}

.dashboard .widgets .box {
	max-width: none;
}

.dashboard .widgets .box .content {
	margin-bottom: 20px;
}

.dashboard .widgets .box button {
	font-size: 13px;
}

.dashboard .content {
	flex-grow: 1;
}

.dashboard .content .box {
	text-align: left;
}

.dashboard .content .box .listing {
	margin-top: 20px;
}

@media screen and (max-width: 900px) {
	.dashboard {
		flex-direction: column;
	}

	.dashboard .menu ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
		gap: 10px;
		border-right: none;
	}

	.dashboard .menu ul li {
		margin: 0;
		padding: 0 5px 5px;
	}

	.dashboard .menu ul li:last-child {
		border-bottom: 1px solid var(--light-borders);
	}

	.dashboard .content {
		width: 100%;
	}
}
