.agenda button:focus,
.agenda button:active {
	box-shadow: none !important;
}

.fc-list-event {
	cursor: pointer;
}

.fc .fc-toolbar-title {
	font-size: 17px;
}

.fc .fc-list-event-title .flex-row {
	justify-content: space-between;
}
