.hero {
	margin-top: -60px;
	padding: 200px 40px 0;
	aspect-ratio: 2 / 1;
	align-items: normal;
	background: url("/assets/medias/header-background-large.png") no-repeat 100% 0 / 80% auto #dcdde1;
}

.hero .left {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
}

.hero .left h1 {
	font-size: 3.6vw;
	line-height: 3.6vw;
}

.hero .left h2 {
	font-size: 2.6vw;
	font-weight: 400;
	margin-top: 20px;
	color: var(--accent-color-1);
}

.hero .right {
	flex-shrink: 0;
}

.hero .right img {
	height: 100%;
	width: auto;
}

@media screen and (max-width: 900px) {
	.hero {
		aspect-ratio: initial;
	}
}

.numbers img {
	height: 150px;
}

.numbers div {
	text-align: center;
	font-size: 20px;
}

.numbers .title {
	font-size: 40px;
	font-family: var(--title-font);
	font-weight: 800;
}

.quote {
	background: var(--accent-color-1);
}

.quote img {
	width: 46.3vw;
}

.quote img.mobile {
	display: none;
}

.quote span {
	position: relative;
	display: block;
	line-height: 3.8vw;
	font-size: 3.2vw;
	font-weight: 200;
	color: #fff;
	padding: 0 3.1vw;
}

.quote span::before,
.quote span::after {
	content: "";
	position: absolute;
	display: block;
	width: 5.2vw;
	height: 5.2vw;
	background: url("/assets/medias/quote.png") no-repeat 0 / 100%;
}

.quote span::before {
	top: -1.3vw;
	left: -2.6vw;
}

.quote span::after {
	bottom: -1.3vw;
	right: 2.6vw;
	transform: scaleX(-1);
}

.quote .signature {
	position: absolute;
	width: 220px;
	right: 65px;
	margin-top: 60px;
}

.activities h3 {
	margin-top: 50px;
	line-height: 53px;
	font-size: 43px;
	font-weight: 400;
	font-family: var(--font), sans-serif;
	text-align: center;
}

.activities h4 {
	margin-top: 34px;
	font-size: 30px;
	font-weight: 200;
	font-family: var(--font), sans-serif;
	text-align: center;
}

.activities h4 b {
	font-weight: 400;
}

.activities > .content > div {
	margin-top: 100px;
	column-gap: 10%;
}

.activities .item {
	flex: 1 1 0;
}

.activities .img img {
	width: 160px;
}

.activities .item > div {
	text-align: center;
}

.activities .item img {
	width: 160px;
}

.activities .item .center {
	margin-top: 20px;
	font-size: 45px;
	font-family: var(--title-font), sans-serif;
}

.activities .item .button {
	background: var(--accent-color-2);
	color: #fff;
	padding: 10px 0;
	border-radius: 30px;
	font-size: 22px;
	font-weight: 200;
	margin-top: 20px;
	text-align: center;
}

.activities .item .button:hover {
	background: var(--accent-color-4);
}

.activities .item a:hover {
	text-decoration: none;
}

.photos .swiper-slide {
	width: auto;
	height: 300px;
}

.photos .swiper-slide img {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	height: 100%;
	width: auto;
}

.reviews .content {
	max-width: none;
}

.contact {
	position: relative;
	margin-bottom: -23px;
	padding-bottom: 0;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 20px;
}

.contact a {
	margin-bottom: 30px;
}

.contact button {
	font-size: 16px;
}

@media screen and (max-width: 1650px) {
	.cards {
		grid-template-columns: auto;
	}
}

@media screen and (max-width: 900px) {
	.cards {
		grid-template-columns: repeat(5, 400px);
	}
}

@media screen and (max-width: 900px) {
	.hero {
		padding: 100px 20px 40px;
		position: relative;
		background: var(--accent-color-2);
	}

	.hero .left {
		position: relative;
		z-index: 1;
	}

	.hero .left h1 {
		font-size: 26px;
		line-height: 27px;
		color: #fff;
		text-align: center;
	}

	.hero .left h2 {
		font-size: 16px;
		line-height: initial;
		margin-top: 10px;
		color: #fff;
		text-align: center;
	}

	.hero .right {
		display: none;
	}

	.numbers {
		flex-direction: column;
		row-gap: 20px;
		padding: 60px;
	}

	.numbers img {
		height: 100px;
	}

	.numbers .title {
		font-size: 30px;
	}

	.numbers div {
		font-size: 17px;
		margin-top: 0;
	}

	.numbers > div {
		display: flex;
		flex-direction: row;
		row-gap: 20px;
		align-items: center;
		width: 100%;
	}

	.numbers > div > div + div {
		flex-grow: 1;
	}

	.numbers .title {
		margin: 0;
	}

	.quote {
		flex-direction: column;
		gap: 0;
	}

	.quote img.desktop {
		display: none;
	}

	.quote img.mobile {
		display: block;
	}

	.quote img {
		width: 100%;
	}

	.quote span {
		font-size: 24px;
		line-height: 24px;
		padding: 20px 40px;
		text-align: center;
	}

	.quote span::before,
	.quote span::after {
		width: 40px;
		height: 40px;
	}

	.quote span::before {
		top: -20px;
		left: 10px;
	}

	.quote span::after {
		bottom: 0;
		right: 10px;
	}

	.quote .flex-grow {
		text-align: center;
	}

	.quote .signature {
		position: relative;
		top: auto;
		right: auto;
		width: 100px;
		margin: -10px 0 10px;
	}

	.activities {
		padding: 40px 20px;
	}

	.activities h3 {
		margin-top: 20px;
		font-size: 17px;
		line-height: initial;
	}

	.activities h4 {
		font-size: 16px;
		margin-top: 20px;
	}

	.activities > .content > div {
		margin-top: 40px;
	}

	.activities .item {
		margin: 10px 0;
	}

	.activities .item img {
		width: 120px;
	}

	.activities .item .center {
		margin-top: 10px;
		font-size: 24px;
	}

	.activities .item .button {
		font-size: 16px;
	}

	.contact {
		flex-direction: column;
	}

	.contact a {
		margin-top: -24px;
	}
}
