.hero {
	position: sticky;
	top: 0;
	margin-top: 140px;
	padding: 0 40px;
	height: 500px;
	justify-content: center;
	align-items: normal;
	background: #87c6d8;
}

.hero.hero-light {
	margin-top: 0;
	height: auto;
	padding: 40px 20px;
}

.hero .left {
	max-width: 1000px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
	padding: 65px 0;
}

.hero h1 {
	font-size: 60px;
	line-height: 62px;
	color: #fff;
}

.hero h2 {
	font-size: 35px;
	font-weight: 300;
	font-family: var(--font), sans-serif;
	margin-top: 10px;
	text-transform: none;
	color: #fff;
}

.hero-light .flex-row {
	gap: 0px;
}

.hero-light h1 {
	font-size: 40px;
}

.hero-light h2 {
	font-size: 20px;
	margin: 0;
}

.hero .arrow-down {
	position: absolute;
	left: 50%;
	bottom: 10px;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	background: url("/assets/medias/down-arrow.png") no-repeat 0 / 100%;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0% {
		transform: translateY(-15px);
	}

	50% {
		transform: translateY(5px);
	}

	100% {
		transform: translateY(-15px);
	}
}

.hero .right {
	flex-shrink: 0;
	padding: 20px 0 0;
}

.hero .right img {
	height: 100%;
	width: auto;
}

@media screen and (max-width: 900px) {
	.hero {
		aspect-ratio: initial;
	}
}

.numbers img {
	height: 130px;
}

.numbers div {
	text-align: center;
	font-size: 20px;
}

.numbers .title {
	font-size: 40px;
	font-family: var(--title-font);
	font-weight: 800;
}

.quote {
	background: #2a303c;
	padding: 30px 40px 50px;
}

.quote .content > span > span {
	font-size: 35px;
	font-weight: 200;
	color: #fff;
}

.quote .content > span {
	height: 110px;
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 35px;
	font-weight: 200;
	color: #fff;
}

.quote .content > span::before,
.quote .content > span::after {
	content: "";
	width: 70px;
	height: 70px;
	background: url("/assets/medias/quote.png") no-repeat 0 / 100%;
}

.quote .content > span::before {
	align-self: flex-start;
}

.quote .content > span::after {
	align-self: flex-end;
	transform: scaleX(-1);
}

.quote .signature {
	position: absolute;
	width: 180px;
	right: 95px;
	margin-top: 8px;
}

.activities h3 {
	font-size: 23px;
	font-family: var(--font), sans-serif;
}

.activities h3 b {
	background: var(--accent-color-2);
	color: #fff;
	padding: 0 4px;
}

.activities h4 {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 200;
	font-family: var(--font), sans-serif;
}

.activities h4 b {
	font-weight: 400;
}

.activities > .content > div {
	margin-top: 100px;
}

.activities .img img {
	width: 160px;
}

.activities .item > div {
	text-align: center;
}

.activities .item img {
	width: 120px;
}

.activities .item .center {
	margin-top: 10px;
	font-size: 25px;
	font-family: var(--title-font), sans-serif;
}

.activities .item .button {
	background: var(--accent-color-1);
	color: #fff;
	padding: 5px 20px;
	border-radius: 30px;
	font-size: 17px;
	font-weight: 200;
	margin-top: 10px;
	text-align: center;
}

.activities .item .button:hover {
	background: var(--accent-color-3);
}

.activities .item a:hover {
	text-decoration: none;
}

.photos {
	box-shadow: 0 0.0625rem 0.1875rem var(--box-shadows);
	background: #f5f5f5;
}

.photos .swiper-slide {
	width: auto;
	height: 300px;
}

.photos .swiper-slide img {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	height: 100%;
	width: auto;
}

.reviews .content {
	max-width: none;
}

.contact {
	position: relative;
	margin-bottom: -23px;
	padding-bottom: 0;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 20px;
}

.contact a {
	margin-bottom: 30px;
}

.contact button {
	font-size: 16px;
}

.profil-picture {
	width: 150px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
}

.squared-picture {
	width: 100%;
	max-width: 350px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 5px;
}

@media screen and (max-width: 1650px) {
	.cards {
		grid-template-columns: auto;
	}
}

@media screen and (max-width: 900px) {
	.cards {
		grid-template-columns: repeat(5, 400px);
	}
}

@media screen and (max-width: 900px) {
	.hero {
		padding: 0 20px;
		position: relative;
		height: auto;
		margin-top: 0;
		background: var(--accent-color-2);
	}

	.hero .left {
		position: relative;
		padding: 50px 0 95px;
		z-index: 1;
	}

	.hero .left h1 {
		font-size: 27px;
		line-height: 29px;
		color: #fff;
		text-align: center;
	}

	.hero .left h2 {
		font-size: 20px;
		line-height: initial;
		margin-top: 10px;
		color: #fff;
		text-align: center;
	}

	.hero .right {
		display: none;
	}

	.numbers .content {
		flex-direction: column;
		row-gap: 20px;
		padding: 0 60px;
	}

	.numbers img {
		height: 100px;
	}

	.numbers .title {
		font-size: 27px;
	}

	.numbers .margin-t--10 {
		margin-top: 0;
	}

	.numbers .content > div {
		display: flex;
		flex-direction: row;
		row-gap: 20px;
		align-items: center;
		width: 100%;
	}

	.numbers .content > div > div + div {
		flex-grow: 1;
	}

	.numbers .title {
		margin: 0;
	}

	.quote {
		flex-direction: column;
		gap: 0;
		padding: 10px 20px;
	}

	.quote img.desktop {
		display: none;
	}

	.quote img.mobile {
		display: block;
	}

	.quote img {
		width: 100%;
	}

	.quote .content > span {
		gap: 10px;
	}

	.quote .content > span > span {
		font-size: 20px;
		line-height: 20px;
		padding: 10px;
		text-align: center;
	}

	.quote .content > span::before,
	.quote .content > span::after {
		width: 40px;
		height: 40px;
	}

	.quote .content > span::after {
		margin: 0px 0 33px;
	}

	.quote .flex-grow {
		text-align: center;
	}

	.quote .signature {
		position: static;
		width: 130px;
		margin: 10px 0 0;
	}

	.activities {
		padding: 40px 20px;
	}

	.activities h3 {
		margin-top: 0;
		font-size: 16px;
		line-height: initial;
	}

	.activities h4 {
		font-size: 16px;
		margin-top: 20px;
	}

	.activities > .content > div {
		margin-top: 40px;
	}

	.activities .content .flex-row.width-50 > * {
		width: 50%;
	}

	.activities .content .flex-row {
		flex-direction: row;
	}

	.activities .item {
		margin: 10px 0;
	}

	.activities .item img {
		width: 70px;
	}

	.activities .item .center {
		margin-top: 10px;
		font-size: 27px;
	}

	.activities .item .button {
		font-size: 16px;
	}

	.contact {
		flex-direction: column;
	}

	.contact a {
		margin-top: -24px;
	}
}

@media screen and (max-width: 680px) {
	.hero .arrow-down {
		animation: none;
	}

	.activities .content .flex-row.width-50 {
		flex-direction: column;
	}

	.activities .content .flex-row.space-around {
		margin-top: 40px;
	}

	.activities .content .flex-row .item {
		flex-basis: 35%;
	}

	.flex-row.width-50 > * {
		width: 100%;
	}

	.flex-row.gap-50 {
		gap: 40px;
	}

	.activities {
		padding: 0 0 40px 0;
	}

	.activities .content,
	.activities > .content > div {
		margin: 0;
	}

	.activities .flex-row h3,
	.activities .flex-row h4 {
		padding: 0 20px;
	}

	.activities .border-radius-20 {
		border-radius: 0;
	}

	.activities .content .flex-row.width-50 > * {
		width: 100%;
	}
}

.activity-card {
	background: #f5f5f5;
	border-radius: 14px;
	border-left: 7px solid var(--accent-color-1);
	padding: 20px 20px 20px 13px;
	display: flex;
	gap: 15px;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	width: calc(50% - 12.5px);
	transition: transform 0.2s ease-in-out;

	&:hover {
		text-decoration: none;
		transform: scale(1.02);
	}

	img {
		max-width: 200px;
		border-radius: 12px;
	}

	h3,
	p {
		color: var(--main-txt-color);
	}

	h3 {
		font-weight: 600;
		text-align: left;
	}

	p {
		margin: 10px 0;
	}
}

@media screen and (max-width: 900px) {
	.activity-card {
		width: 100%;
		flex-direction: column;

		img {
			max-width: 100%;
		}

		h3 {
			padding: 0 !important;
		}
	}
}

.image-bloc {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	img {
		width: 100%;
		max-width: 300px;
		border-radius: 10px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
}

@media screen and (max-width: 600px) {
	.image-bloc {
		justify-content: center;
	}
}
