:root {
	--main-txt-color: rgb(60, 66, 76);
	--accent-color-1: rgb(215, 136, 184);
	--accent-color-2: rgb(135, 198, 216);
	--accent-color-3: rgba(215, 136, 183, 0.75);
	--accent-color-4: rgba(135, 198, 216, 0.75);
	--box-shadows: rgba(45, 46, 92, 0.15);
	--light-borders: rgba(211, 215, 223, 0.5);
	--swiper-navigation-size: 22px !important;
	--valid-color: rgba(12, 143, 12, 0.705);
	--invalid-color: firebrick;
	--font: "Open Sans", Helvetica, sans-serif;
	--title-font: "Oswald", Helvetica, sans-serif;
}

body {
	background: #f7f9fd;
	overflow-y: scroll;
}

body,
pre {
	font-family: var(--font);
	color: var(--main-txt-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--title-font);
}

pre {
	white-space: pre-wrap;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 60px);
	font-size: 0;
}

select {
	padding: 6px 10px;
	width: 100%;
}

.uppercase {
	text-transform: uppercase;
}

.hidden {
	visibility: hidden;
}

.height-0 {
	height: 0;
}

.height-0.margin-10 {
	margin-top: 0 !important;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.relative {
	position: relative;
}

.inline-block {
	display: inline-block;
}

.font-0 {
	font-size: 0;
}

.font-13 {
	font-size: 13px !important;
}

.ar-3-4 {
	aspect-ratio: 3 / 4;
	width: 100%;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left !important;
}

.margin-t-10 {
	margin-top: 10px;
}

.margin-t--10 {
	margin-top: -10px;
}

.margin-t-20 {
	margin-top: 20px !important;
}

.margin-t--20 {
	margin-top: -20px !important;
}

.margin-t-50 {
	margin-top: 50px !important;
}

.margin-b-10 {
	margin-bottom: 20px !important;
}

.margin-b-20 {
	margin-bottom: 20px !important;
}

.margin-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.margin-tb-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.border-radius-20 {
	border-radius: 20px;
}

.bold {
	font-weight: 700;
}

.underlined {
	text-decoration: underline;
}

.nbsp {
	white-space: nowrap;
}

main {
	flex-grow: 1;
	font-size: 14px;
}

main section {
	position: relative;
	background: #f7f9fd;
	padding: 60px 40px;
}

@media screen and (max-width: 900px) {
	main section {
		padding: 60px 20px;
	}
}

main section.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}

main section.no-padding {
	padding: 0;
}

section > .content {
	max-width: 1380px;
	margin: 1rem auto 0;
}

section > .content h2 {
	color: var(--accent-color-1);
	font-size: 28px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

section > .content p {
	text-align: justify;
}

section.light {
	background: #fff;
	box-shadow: 0 0.0625rem 0.1875rem var(--box-shadows);
}

button,
.fake-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	padding: 0.5rem 1.275rem;
	background-color: var(--accent-color-1);
	border: 1px solid var(--accent-color-1);
	border-radius: 0.175rem;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	transition: background-color 0.3s ease-in, border 0.3s ease-in, opacity 0.3s ease-in;
	outline: none;
	opacity: 1;
}

button.loading,
button.small.loading {
	font-size: 0px !important;
}

button.loading {
	opacity: 0.5;
	cursor: not-allowed;
}

button.loading::before {
	content: "Chargement";
	font-size: 13px !important;
}

button.small.loading::before {
	font-size: 11px !important;
}

button.big {
	font-size: 19px;
	padding: 0.475rem 1.675rem;
}

button.small,
.fake-button.small {
	padding: 0.375rem 0.76rem;
	font-size: 11px !important;
	background: var(--accent-color-2);
	border: 1px solid var(--accent-color-2);
}

button.smallest,
.fake-button.smallest {
	padding: 0.25rem 0.438rem;
	background: var(--accent-color-1);
	border: 1px solid var(--accent-color-1);
	font-size: 10px !important;
}

button.small.inverted-colors {
	background-color: var(--accent-color-1);
	border: 1px solid var(--accent-color-1);
}

button:hover,
button:focus,
button.smallest:hover,
.fake-button.smallest:hover {
	background-color: var(--accent-color-3);
	border: 1px solid var(--accent-color-3);
}

button.small:hover,
.fake-button.small:hover {
	background-color: var(--accent-color-4);
	border: 1px solid var(--accent-color-4);
}

button.inverted-colors:hover,
button.inverted-colors:focus {
	background-color: var(--accent-color-3);
	border: 1px solid var(--accent-color-1);
}

.link-button {
	font-size: 11px;
	text-decoration: underline;
	margin: 5px 0 0 5px;
	cursor: pointer;
}

.remove-button {
	background: firebrick;
	color: white;
	padding: 5px 10px 4px;
	font-size: 11px;
	cursor: pointer;
}

.cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	padding: 10px 5px;
	overflow: auto;
}

.card {
	border-radius: 0.275rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 30px;
	display: flex;
	flex-direction: column;
	background: #fff;
}

.card .top-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.card .content {
	flex-grow: 1;
}

.card .content,
.card .bottom-line {
	margin-top: 15px;
}

.card .stars-wrapper {
	display: flex;
	flex-direction: row;
	height: 1em;
	width: 70px;
	margin-right: 5px;
}

.card .stars-wrapper .stars-active {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.56 21C17.4001 21.0006 17.2423 20.9629 17.1 20.89L12 18.22L6.9 20.89C6.56214 21.0677 6.1526 21.0375 5.84443 20.8122C5.53626 20.5869 5.38323 20.2058 5.45 19.83L6.45 14.2L2.33 10.2C2.06806 9.9386 1.97189 9.55391 2.08 9.2C2.19825 8.83742 2.51242 8.57366 2.89 8.52L8.59 7.69L11.1 2.56C11.2671 2.21501 11.6167 1.99589 12 1.99589C12.3833 1.99589 12.7329 2.21501 12.9 2.56L15.44 7.68L21.14 8.51C21.5176 8.56366 21.8318 8.82742 21.95 9.19C22.0581 9.54391 21.9619 9.9286 21.7 10.19L17.58 14.19L18.58 19.82C18.6529 20.2028 18.4968 20.5931 18.18 20.82C17.9989 20.9469 17.7809 21.0102 17.56 21V21Z' fill='%23ffca05' /%3E%3C/svg%3E%0A");
	background-size: auto 100%;
	font-size: 0;
}

.card .stars-wrapper .stars-inactive {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.56 21C17.4001 21.0006 17.2423 20.9629 17.1 20.89L12 18.22L6.9 20.89C6.56214 21.0677 6.1526 21.0375 5.84443 20.8122C5.53626 20.5869 5.38323 20.2058 5.45 19.83L6.45 14.2L2.33 10.2C2.06806 9.9386 1.97189 9.55391 2.08 9.2C2.19825 8.83742 2.51242 8.57366 2.89 8.52L8.59 7.69L11.1 2.56C11.2671 2.21501 11.6167 1.99589 12 1.99589C12.3833 1.99589 12.7329 2.21501 12.9 2.56L15.44 7.68L21.14 8.51C21.5176 8.56366 21.8318 8.82742 21.95 9.19C22.0581 9.54391 21.9619 9.9286 21.7 10.19L17.58 14.19L18.58 19.82C18.6529 20.2028 18.4968 20.5931 18.18 20.82C17.9989 20.9469 17.7809 21.0102 17.56 21V21Z' fill='%23e6e8e8' /%3E%3C/svg%3E%0A");
	background-size: auto 100%;
	font-size: 0;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 10px;
	row-gap: 10px;
}

.flex-row.align-left {
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-row.align-normal {
	justify-content: normal;
	align-items: normal;
}

.flex-row.width-50 {
	flex-wrap: nowrap;
}

.flex-row.width-50 > * {
	width: 50%;
}

.flex-row.gap-50 {
	gap: 50px;
}

.flex-row span.price {
	min-width: 50px;
	text-align: right;
}

.flex-row.small-gap {
	gap: 10px;
}

.flex-row.no-wrap {
	flex-wrap: nowrap;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-row.space-evenly {
	justify-content: space-evenly;
}

.flex-row.space-between {
	justify-content: space-between;
}

.flex-row.space-around {
	justify-content: space-around;
}

@media screen and (max-width: 900px) {
	.flex-row {
		column-gap: 10px;
	}
}

.flex-grow {
	flex-grow: 1;
}

.no-shrink {
	flex-shrink: 0;
}

.flex-stretch {
	align-items: stretch !important;
}

.flex-col {
	flex-direction: column !important;
}

.flex-col.center {
	align-items: center;
}

.box {
	position: relative;
	padding: 1.5rem;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0.0625rem 0.1875rem var(--box-shadows);
}

.box .title {
	font-size: 24px;
	font-weight: 600;
	border-bottom: 1px solid var(--light-borders);
	padding-bottom: 1.2rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.box p {
	font-size: 16px;
	margin-top: 20px;
}

.box .box p {
	font-size: 13px;
}

.box p button {
	margin-top: 10px;
}

.box.big-box {
	padding: 40px 80px;
	margin-top: 10vh;
}

h2 + .box.big-box {
	margin-top: 20px;
}

@media screen and (max-width: 900px) {
	.box.big-box {
		padding: 40px 20px;
		margin: 20px auto;
		max-width: calc(100% - 30px);
	}
}

.swiper-initialized .swiper-button-prev,
.swiper-initialized .swiper-button-next {
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	border: 0.375rem;
	padding: 22px;
	margin-top: -22px;
}

form {
	font-size: 13px;
	text-align: left;
}

.form-row {
	position: relative;
	min-width: 300px;
	margin: 20px 0 15px;
}

.form-row .label-wrapper {
	margin-bottom: 10px;
}

.form-row .prefix,
.form-row .suffix {
	position: absolute;
	top: 12px;
}

.form-row .prefix {
	left: 13px;
}

.form-row .suffix {
	right: 13px;
}

.form-row .prefix + input {
	padding-left: 25px;
}

.form-row .suffix + input {
	padding-right: 25px;
}

.form-row .suffix + input[name="duration"] {
	padding-right: 38px;
}

.form-row.button-wrapper {
	text-align: center;
}

.tooltip {
	margin-top: -10px;
	margin-bottom: 10px;
}

.feedback {
	position: absolute;
	top: -10px;
	background: #fff;
	left: 5px;
	padding: 0 5px;
}

.invalid .feedback,
.error-feedback {
	color: var(--invalid-color);
}

.valid .feedback {
	color: var(--valid-color);
}

.legal-notice {
	display: block;
	font-size: 11px;
	margin-top: 5px;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
	background: #fff;
	border-radius: 0.25rem;
	border: 1px solid #fff;
	box-sizing: border-box;
	color: #23272f;
	font-family: inherit;
	line-height: 1.25;
	outline: 1px solid var(--light-borders);
	padding: 0.75rem;
	width: 100%;
	transition: box-shadow 0.5s ease-in, outline 0.3s ease-in;
}

input[type="number"] {
	text-align: right;
}

.checkbox-col input {
	width: auto;
	outline: none;
}

.checkbox-col .flex-row {
	gap: 5px;
}

.checkbox-wrapper .checkbox-col,
.radio-wrapper .radio-col {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.invalid input,
.invalid select,
.invalid textarea {
	border: 1px solid var(--invalid-color);
}

.valid input,
.valid select,
.valid textarea {
	border: 1px solid var(--valid-color);
}

input:focus {
	box-shadow: 0 8px 18px rgba(37, 37, 37, 0.16);
}

.menu {
	align-self: stretch;
	flex-basis: min-content;
}

.menu ul {
	border-right: 1px solid var(--light-borders);
	position: sticky;
	top: 60px;
}

.menu ul li {
	padding: 20px 40px;
	margin: 0 20px;
	cursor: pointer;
	border-bottom: 1px solid var(--light-borders);
	min-width: 250px;
	list-style: none;
}

.menu ul li a {
	color: var(--main-txt-color);
}

.menu ul li a.active {
	font-weight: 550;
	text-decoration: underline;
}

.menu ul li:last-child {
	border-bottom: 0;
}

@media screen and (max-width: 900px) {
	section .content > .flex-row {
		flex-direction: column;
	}

	section .content > .flex-row.width-50 > * {
		width: 100%;
	}

	.menu ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
		gap: 10px;
		border-right: none;
	}

	.menu ul li {
		margin: 0;
		min-width: 0;
		padding: 0 5px 5px;
	}

	.menu ul li:last-child {
		border-bottom: 1px solid var(--light-borders);
	}
}

.widgets {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-grow: 1;
	align-self: flex-start;
}

.widgets .box {
	width: 100%;
	text-align: left;
	margin: 10px;
}

.widgets .box .content {
	display: flex;
	flex-direction: column;
}

.widgets .box .row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px 0;
	padding: 5px 0;
	border-bottom: 1px solid var(--light-borders);
}

.widgets .box .date-detail {
	min-width: 120px;
}

.widgets .box .list-detail {
	flex-grow: 1;
	padding-right: 5px;
}
