:root {
	--transition-speed: 0.3s;
	--transition-speed-faster: 0.15s;
}

@keyframes reset-transition-delay {
	to {
		transition-delay: 0s;
	}
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: flex-start;
	z-index: 2;
	box-shadow: none;
	padding: 25px 50px;
	background: rgba(255, 255, 255, 0);
	transition: padding var(--transition-speed) ease-in, box-shadow var(--transition-speed-faster) ease-in, background var(--transition-speed-faster) ease-in;
}

.is-scrolled header,
.menu-opened header {
	box-shadow: var(--box-shadows) 0 5px 25px 0;
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.8);
	transition: padding var(--transition-speed) ease-in, box-shadow var(--transition-speed) ease-in var(--transition-speed), background var(--transition-speed) ease-in var(--transition-speed);
}

.menu-opened header {
	background: rgba(255, 255, 255, 0.95);
	transition: all 0.3s ease-in;
	transition-property: padding, box-shadow, background;
}

.logo {
	font-size: 0;
}

.logo img {
	height: 150px;
	transition: height var(--transition-speed) ease-in;
}

.is-scrolled .logo img,
.menu-opened .logo img {
	height: 40px;
}

header ul {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

header li {
	list-style: none;
	margin: 0 10px;
}

header a {
	color: var(--main-txt-color);
	font-size: 14px;
}

header a.active {
	color: var(--accent-color-1);
}

header .tools {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header .tools > div {
	margin: 0 5px;
	min-width: 30px;
}

header .tools a {
	font-size: 20px;
	position: relative;
	display: block;
	text-align: center;
}

header .tools .has-text a {
	font-size: 12px;
}

header .tools a.has-items {
	color: var(--accent-color-1);
}

header .tools a .cart-item-count {
	position: absolute;
	width: 100%;
	top: 6.5px;
	left: 2px;
	font-size: 7px;
	color: #fff;
	text-align: center;
}

header .disabled {
	display: none;
}

.burger-menu {
	height: 30px;
	padding: 6px 0;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	display: none;
}

.burger-menu span {
	display: block;
	height: 2px;
	background: #282f36;
	opacity: 1;
	transition: opacity var(--transition-speed) ease-in;
}

.burger-menu::before,
.burger-menu::after {
	content: "";
	display: block;
	position: relative;
	height: 2px;
	background-color: #282f36;
	transition: transform var(--transition-speed) ease-in, top var(--transition-speed) ease-in;
	transform-origin: 50% 1px;
	top: 0;
}

.burger-menu.active span {
	opacity: 0;
}

.burger-menu.active::before {
	transform: rotate(45deg);
	top: 8px;
}

.burger-menu.active::after {
	transform: rotate(-45deg);
	top: -8px;
}

@media screen and (max-width: 900px) {
	.logo img {
		height: 100px;
	}

	.burger-menu {
		display: flex;
	}

	nav {
		position: fixed;
		width: 100%;
		left: 100%;
		height: calc(100% - 60px);
		top: 60px;
		background: rgba(255, 255, 255, 0.95);
		transition: left var(--transition-speed) ease-in;
	}

	nav ul {
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		padding: 0 20px;
	}

	nav ul li {
		flex-grow: 1;
		width: 100%;
		margin: 0;
		display: flex;
		align-items: center;
		flex-direction: row;
		border-bottom: 1px solid #cdcdcd;
	}

	nav ul li a {
		font-size: 24px;
	}

	nav.active {
		left: 0;
	}
}
