*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}
img {
	max-width: 100%; /* do not display:block for img! */
}
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-weight: 500;
}

#root,
#__next {
	isolation: isolate;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 0.05em;
	text-underline-offset: 0.2em;
}
